<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
    告诉spring创建对象
    声明bean  告诉spring创建那个类的对象
    id:用户自定义的唯一标识   spring通过id找到对象
    class:类的全限定名称   (不能是接口 ,因为spring是通过反射机制创建对象的所以不能是接口)
    -->
    <bean id="ser" class="com.shangguan.dao.someServiceImpl"></bean>
    <!--spring 就会完成对象的创建
     相当于是 Ser ser= new someServiceImpl()
     spring是吧创建好的对象放在一个map集合中保存
     一个bean标签声明一个对象
    -->

</beans>
<!--
spring的配置文件
beans 是spring的根标签 spring中把java对象叫做bean
xsd 是约束文件


-->